@model TinyClothes.Models.SearchCriteria

@{
	ViewData["Title"] = "Search";
}

<h1>Search</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="get" asp-action="Search">
			@* Set method to Get *@
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Size" class="control-label"></label>
				<input asp-for="Size" class="form-control" />
				<span asp-validation-for="Size" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Type" class="control-label"></label>
				<input asp-for="Type" class="form-control" />
				<span asp-validation-for="Type" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MinPrice" class="control-label"></label>
				<input asp-for="MinPrice" class="form-control" />
				<span asp-validation-for="MinPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="MaxPrice" class="control-label"></label>
				<input asp-for="MaxPrice" class="form-control" />
				<span asp-validation-for="MaxPrice" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Search" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
@if (Model != null && Model.Results.Count > 0)
{
	@await Html.PartialAsync("_DisplayClothes", Model.Results) //partial view name and model as params
	@*<div>
			<ul>
				@foreach (Clothing c in Model.Results)
				{
						<li>@c.Title : @c.Price</li>
				}
			</ul>
		</div>*@
}
else
{
	<p>No results to display</p>
}


@*<div> //keeping this as an example
	<a asp-action="ShowAll">Back to List</a>
</div>*@

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}