
@{
    ViewData["Title"] = "Error!!!";
}

<h1>Uh-oh</h1>

@if (ViewData["ErrorMsg"] != null)
{
    <h2>@ViewData["ErrorMsg"]</h2>
}
else 
{ 
    <p>Something baaaaaaaaad happened. Please try again later.</p>
}
<img src="~/images/notfound.jpg" height="200" class="img-thumbnail rounded" alt="Sheep to show something baaaad happend" />

